* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-dark: #000000;
  --gold: #bdae82;
  --white: #ffffff;
  --main-font: Merriweather;
  --second-font: Inter;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  font-family: var(--second-font);
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 910px;
}

.hat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
}

.svg-logo {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.svg-logo:hover path {
  fill: var(--gold);
  transition: fill 0.3s;
}

.navigation,
.header_list,
.switch {
  display: flex;
  flex-direction: row;
}

.navigation {
  align-items: center;
  height: 100%;
}

.hover-links {
  margin-left: 30px;
}
.hover-links a {
  transition: all 0.3s ease-in-out;
}

.hover-links a:hover {
  color: var(--gold);
  transform: scale(1.1);
}

.switch {
  margin-left: 31px;
}

.switch-ing {
  background-color: transparent;
}

.switch-ing:nth-child(2) {
  margin: 0 9px;
}

.switch-ing:nth-child(1):hover,
.switch-ing:nth-child(3):hover {
  color: var(--gold);
}

.hero {
  width: 500px;
  height: 330px;
  margin: 250px 0 80px 0;
}

.hero p {
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  font-family: var(--main-font);
}

.hero button {
  width: 220px;
  height: 55px;
  margin: 33px 0px;
  font-size: 20px;
  background-color: var(--gold);
  transition: all 0.3s;
  cursor: pointer;
}

.hero button:hover {
  color: var(--white);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.footer-data,
.footer-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-sociable {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 9px 0;
  gap: 20px;
}
@media (max-width: 768px) {
  .svg-logo {
    margin-left: 60px;
  }
  header {
    background-color: var(--bg-dark);
  }
  /* .header-burger {
    display: block;
    position: relative;
    width: 50px;
    margin: 20px;
    margin-right: 64px;
    cursor: pointer;
  }
  .header-burger span {
    background-color: var(--white);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  } */

  /* .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: var(--white);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  } */

  /* .header-burger::before {
    top: 0;
  }

  .header-burger::after {
    bottom: 10px;
  } */
  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active span {
    transform: rotate(-45deg);
    bottom: 9px;
    transform-origin: center;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gold);
    padding: 100px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .navigation.active {
    top: 0;
  }

  .navigation {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .svg-logo {
    margin-left: 60px;
  }
}
@media screen and (max-width: 768) {
  .svg-logo {
  }
}
