.partfolio_but:hover {
  background-color: var(--gold);
  color: var(--bg-dark);
  transition: all 0.3s;
}

.portfolio-btns {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  gap: 5px;
}

.partfolio_but {
  background-color: var(--bg-dark);
  border: 3px solid var(--gold);
  padding: 5px 30px;
  text-align: center;
  width: 220px;
  height: 55px;
  color: var(--gold);
  cursor: pointer;
}
.partfolio_but:hover {
  color: white;
}

.section-title {
  text-align: center;
  font-family: var(--main-font);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  color: var(--gold);
}

.section-title::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 294px;
  background-color: var(--gold);
  margin-bottom: 10px;
  margin-right: 20px;
}
.section-title::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 294px;
  background-color: var(--gold);
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.photo-items {
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
}
