.button1 {
  background-color: #bdae82;
  color: black;
  padding: 10px 20px;
}
.button2 {
  background-color: #bdae82;
  color: black;
  padding: 10px 20px;
}
.button3 {
  background-color: #bdae82;
  color: black;
  padding: 10px 20px;
}
.prise-box {
  border: 3px solid var(--gold);
}
